.article-content {
    margin: 24px 0;
}

.article-content h1 {
    font-size: 32px;
    line-height: 1.5em;
    margin-top: 32px;
    margin-bottom: 16px;
}

.article-content h2 {
    font-size: 30px;
    line-height: 1.5em;
    margin-top: 30px;
    margin-bottom: 15px;
}

.article-content h3 {
    font-size: 28px;
    line-height: 1.5em;
    margin-top: 28px;
    margin-bottom: 14px;
}

.article-content h4 {
    font-size: 26px;
    line-height: 1.5em;
    margin-top: 26px;
    margin-bottom: 13px;
}

.article-content h5 {
    font-size: 24px;
    line-height: 1.5em;
    margin-top: 24px;
    margin-bottom: 12px;
}

.article-content h6 {
    font-size: 22px;
    line-height: 1.5em;
    margin-top: 22px;
    margin-bottom: 11px;
}

.article-content p {
    font-size: 16px;
    line-height: 1.5em;
    margin-top: 16px;
    margin-bottom: 8px;
}

.article-content ul,
.article-content ol {
    list-style-position: inside;
    margin: 16px 0;
}